@charset "utf-8";
.app-item {
    margin-top: 1rem;
}
.app-item img,
.app-item a,
.app-row img {
    display: block;
    width: 100%;
}
.app-row-footer {
    padding: 3rem 0;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.6rem;
}
.app-row-footer.pink {
    color:#fff;
    background-color: #ff9197;
}
.app-row-footer.green {
    color:#0b6a5b;
    background-color: #4dc6b5;
}
.app-row-footer.coffee {
    color: #5c2b24;
    background-color: #efba66;
}
.app-wrap img {
    width: 100%;
}
.app-wrap {
    position: relative;
}
.btn_03_01 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 64.7%;
    margin-left: -33%;
}
.btn_03_01.tc {
    top: 51%;
}
.btn_03_01.ll {
    top: 74%;
}
